.body {
    margin: 0;
    padding: 0;
    background-color: #FAEBD7;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 30px;
}

.image-container {
    margin-bottom: 20px;
}

.blue-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-size: 16px;
}

.blue-button:hover {
    background-color: #0056b3;
}
